<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app"></div>
</body>
<!--development-->
<script src="./externals/react.min.js"></script>
<script src="./externals/react-dom.min.js"></script>
<script src="./externals/history.min.js"></script>
<script src="./externals/redux.min.js"></script>
<script src="./externals/react-redux.min.js"></script>
<script src="./externals/ReactRouter.min.js"></script>
<script src="./externals/moment.min.js"></script>
<script src="./externals/highcharts.js"></script>
<script src="./externals/highchartsModulesMap.js"></script>
<script src="/_assets/app.js"></script>
<!--development-->
</html>